* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: black;
    color: aliceblue;
}


img {

    width: 350px;
  
  }

.titulo-destaque {
    color: blueviolet;
}

.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
}