@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,200;0,400;1,100&display=swap" rel="stylesheet');
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    color: aliceblue;
    background-image: url('pink_window.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


img {

    width: 350px;
  
  }

.titulo-destaque {
    color: blueviolet;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
}

.apresentacao__conteudo__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: aliceblue;
    gap: 32px;
    
}

.apresentacao__conteudo__links__link {
    background-color: #22d4fd;
    width: 240px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}