@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');

:root{
    --font-family: 'Wire One', sans-serif;
    --bg-color: #5D3891;
    --primary-color: #F99417;
    --secondary-color: #E8E2E2 ;
}

body {
    background-color: #5D3891;
    color: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    font-size: 60px;
}

h1{
    font-size: 4em;
}